// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Source Sans Pro',sans-serif;} // font header
.fi {font-family: 'FontAwesome',sans-serif;} // font icon

// body
@bb: #0564b0; // body background

// colors
@cp: #6b6b6b; // color primary
@cl: #0053a3; // color link

// font sizes
@fsp: 21px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 36px; // font size h2
@fsh3: 26px; // font size h3
@fsh4: 21px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;