#page-header {
	padding: 26px 0 16px;
	color: #fff;
	background: #444;
	min-width: @content-width;
	.logo {
		float: left;
		margin: 0 36px 0 0;
		a {
			display: block;
			text-indent: -9999px;
			width: 151px;
			height: 45px;
			background: url(../images/logo/01.png) no-repeat;
			&:hover{
				border-bottom-color: transparent;
			}
		}
	}
	h1 {
		float: left;
		color: #fff;
		font-size: 42px;
		line-height: 1.1;
		margin: 0;
		max-width: 380px;
	}
}
.sidebar {
	margin: 52px 0;
	float: left;
	.menu-icons {
		.rul;
		li {
			.rli;
			margin: 0 0 14px;
			a {
				.round-icon;
				color: #fff;
				border-color: #fff;
				&:hover{
					.box-shadow(0 0 12px #fff);
				}
			}
		}
	}
}
#content {
	.wrapper {
		margin: 52px 0 40px;
		float: right;
		width: 91.5%;
	}
	.header {
		padding: 25px 25px;
		background: #fff;
		margin: 0 0 1px;
		h1,h2{
			color: @cl;
			margin: 3px 84px 4px 84px;
		}
	}
	.content {
		.clearfix;
		padding: 26px 120px 65px 110px;
		background: #fff;
	}
}
#page-footer {
	.clearfix;
	min-width: @content-width;
	padding: 6px 0;
	border-top: 1px solid fade(#000,50%);
	background: fade(#fff,40%);
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\f102';
			font-size: 20px;
		}
		&:hover{
			background: @cp;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}