img {
	max-width: 100%;
	height: auto!important;
}
.round-icon {
	.border-radius(50%);
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 52px;
	font-size: 26px;
	color: @cl;
	text-align: center;
	border: 1px solid @cl;
}
.mod_breadcrumbs {
	ul {
		.rul;
		li {
			display: inline-block;
			margin-right: 20px;
			font-size: 18px;
			padding-left: 30px;
			&:before{
				content: '\f061';
				top: 5px;
				font-size: 14px;
			}
		}
	}
}
.mod_menu-lang {
	.clearfix;
	float: right;
	width: 54px;
	ul {
		.rul;
		margin: -2px 0 0;
		li {
			.rli;
			margin: 0 0 6px;
			a {
				.border-radius(50%);
				.round-icon;
				font-size: 24px;
				border: 1px solid #fff;
				color: #fff;
				text-transform: uppercase;
				&:hover{
					.box-shadow(0 0 12px #fff);
				}
			}
		}
	}
}
.mod_menu-header {
	float: right;
	max-width: 299px;
	padding: 0 20px 0 0;
	text-align: right;
	ul {
		.rul;
		line-height: 50px;
		font-size: 24px;
		li {
			.rli;
			display: inline;
			margin: 0 0 0 20px;
			a {
				color: #fff;
				&:hover{
					text-decoration: none;
					border-bottom-color: #fff;
				}
			}
		}
	}
}
.mod_custom-years,.mod_custom-months {
	padding: 13px 0 15px;
	border-bottom: 1px solid #fff;
	ul {
		.rul;
		display: table;
		width: 100%;
		text-align: center;
		li {
			.rli;
			padding: 0 10px;
			font-size: 36px;
			display: inline-block;
			display: table-cell;
			text-transform: uppercase;
			a {
				height: 54px;
				line-height: 54px;
				color: #fff;
				text-shadow: 2px 2px 6px fade(#000,20%);
				display: inline-block;
				&:hover{
					border-bottom-color: #fff;
				}
			}
			&.current {
				font-size: 48px;
			}
			&.first, &.prev, &.next, &.last {
				width: 70px;
				a {
					.border-radius(50%);
					.round-icon;
					position: relative;
					top: -3px;
					padding: 0 6px 0 0;
					color: #fff;
					font-size: 36px;
					border: 1px solid #fff;
					&:hover{
						.box-shadow(0 0 12px #fff);
					}
				}
			}
			&.first, &.prev {
				text-align: left;
				padding-left: 0;
			}
			&.prev, &.next {
				width: 95px;
			}
			&.next, &.last {
				text-align: right;
				padding-right: 0;
				a {
					padding: 0 0 0 6px;
				}
			}
		}
	}
}
.mod_custom-months {
	border-bottom: 0;
	ul {
		li {
			font-size: 22px;
		}
	}
}
.mod_custom-detail {
	.wrapper {
		margin: 52px 0 40px;
		float: right;
		width: 91.5%;
	}
	.header {
		padding: 25px 25px;
		background: #fff;
		margin: 0 0 1px;
		nav {
			float: left;
			a{
				display: inline-block;
				padding: 0 0 0 6px;
				font-size: 30px;
				width: 80px;
				line-height: 52px;
				margin: 0 0 0 -25px;
				border-right: 1px solid @cl;
				text-align: center;
				&:hover{
					text-shadow: 0 0 12px @cl;
					border-bottom-color: transparent;
				}
			}
		}
		h2{
			color: @cl;
			margin: 3px 84px 4px 84px;
		}
		ul.menu-icons {
			.rul;
			float: right;
			li {
				.rli;
				float: left;
				a {
					.round-icon;
					margin-top: -2px;
					margin-left: 12px;
					&:hover{
						.box-shadow(0 0 12px @cl);
					}
				}
			}
		}
	}
	.content {
		.clearfix;
		padding: 26px 120px 65px 110px;
		background: #fff;
		h2 {
			color: @cl;
			margin: 20px 0;
		}
		hr {
			margin:  33px 0;
		}
		ul.info {
			.rul;
			margin: 25px 0;
			li {
				.rli;
				padding: 0 0 0 33px;
				margin: 6px 0;
				line-height: 1.2;
				mark {
					color: @cl;
				}
				.fa {
					position: absolute;
					left: 0;
					top: 2px;
					color: @cl;
					width: 25px;
					text-align: center;
				}
			}
		}
		ul.menu-icons {
			.rul;
			.clearfix;
			margin: 0 -100px 0 0;
			li {
				.rli;
				float: left;
				font-size: 23px;
				line-height: 1.2;
				white-space: nowrap;
				padding: 0 0 0 66px;
				margin: 17px 30px 17px 0;
				.fa {
					.round-icon;
					position: absolute;
					left: 0;
					top: -15px;
				}
				a {
					&:hover {
						.fa {
							.box-shadow(0 0 12px @cl);
						}
					}
				}
			}
		}
		ul.thumbnails {
			.rul;
			.clearfix;
			margin: -4px -6px;
			li {
				.rli;
				float: left;
				width: 33.3333%;
				padding: 0 6px;
				margin: 12px 0;
				a {
					position: relative;
					display: inline-block;
					&:hover{
						border-bottom-color: transparent;
						img {
							width: 100%!important;
							-webkit-opacity: 0.8;
							-moz-opacity: 0.8;
							opacity: 0.8;
							filter:alpha(opacity=80);
						}
					}
				}
				&.video {
					a {
						&:before{
							.fi;
							position: absolute;
							z-index: 1;
							left: 50%;
							top: 50%;
							content: '\f01d';
							font-size: 62px;
							width: 70px;
							height: 70px;
							line-height: 70px;
							margin: -35px 0 0 -35px;
							text-align: center;
							color: #fff;
							text-shadow: 2px 2px 6px fade(#000,20%);
						}
					}
				}
			}
		}
		.cke_contents {
			max-height: 130px;
		}
		.submit {
			margin: 20px 0;
			text-align: right;
			button {
				.rin;
				position: relative;
				color: @cl;
				font-size: 23px;
				margin: 0 0 0 66px;
				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom-color: @cl;
					&:before{
						.box-shadow(0 0 12px @cl);
					}
				}
				&:before{
					.fi;
					.round-icon;
					position: absolute;
					left: -66px;
					top: -14px;
					content: '\f00c';
				}
			}
		}
	}
}
.mod_custom-footer-selector {
	position: relative;
	display: inline-block;
	width: 280px;
	margin: 20px 0;
	&:before{
		position: absolute;
		content: '';
		top: 50%;
		right: 17px;
		border: 7px solid transparent;
		margin-top: -3px;
		border-top-color: #fff;
	}
	select {
		.rin;
		position: relative;
		width: 100%;
		height: 47px;
		padding: 0 30px 0 15px;
		border: 1px solid #fff;
		color: #fff;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
		option {
			background: @cl;
		}
	}
}
.mod_menu-footer {
	display: inline;
	ul {
		.rul;
		display: inline;
		li {
			.rli;
			display: inline-block;
			margin: 20px 0 20px 30px;
			a {
				display: inline-block;
				font-size: 23px;
				color: #fff;
				padding: 0 68px 0 0;
				white-space: nowrap;
				border-bottom: none;
				&:hover {
					.fa {
						.box-shadow(0 0 12px #fff);
					}
				}
				.fa {
					.round-icon;
					position: absolute;
					top: -12px;
					right: 0;
					color: #fff;
					border-color: #fff;
				}
			}
		}
	}
}
.mod_custom-calendar {
	margin: 0 0 42px;
	table.calendar {
		width: 100%;
		background: #fff;
		table-layout: fixed;
		th, td {
			padding: 7px 10px;
			font-size: 28px;
			line-height: 1;
			font-weight: 300;
			vertical-align: top;
			width: 14.28571428571429%;
		}
		thead {
			td {
				padding-top: 26px;
				padding-bottom: 13px;
				text-transform: uppercase;
				color: @cl;
				border-bottom: 1px solid @cl;
			}
		}
		tbody {
			th {
				font-size: 36px;
				color: @cl;
				padding-bottom: 6px;
				border-top: 1px solid #ccc;
			}
			&.rows__1 {
				td {
					height: 120px;
				}
			}
			td {
				padding: 0;
				height: 60px;
				a {
					.clearfix;
					display: block;
					background: #dadada;
					margin-top: 1px;
					font-size: 20px;
					min-height: 60px;
					.img {
						position: relative;
						display: block;
						width: 131px;
						height: 52px;
						overflow: hidden;
						float: left;
						img {
							position: absolute;
							left: 0;
							top: 0;
							-webkit-transform: translate(0,-20%);
							-ms-transform: translate(0,-20%);
							transform: translate(0,-20%);
						}
					}
					.txt {
						display: inline-block;
						padding: 9px;
						word-wrap: break-word;
					}
					&:hover{
						background: lighten(#dadada,3%);
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
	ul.calendar {
		.rul;
		.clearfix;
		padding: 0 25px;
		background: #fff;
		display: none;
		li {
			.rli;
			font-size: 36px;
			color: @cl;
			margin: 30px 0 0;
			a {
				.clearfix;
				display: block;
				background: #dadada;
				font-size: 26px;
				padding: 10px 25px;
				margin: -20px -25px 10px;
				&:hover{
					background: lighten(#dadada,3%);
					border-bottom-color: transparent;
				}
				img {
					display: block;
					float: right;
					margin: 0 0 0 10px;
					max-width: 30%;
				}
			}
		}
	}
	.years {
		margin: 32px -20px;
		.year {
			width: 33.333333%;
			padding: 20px 20px;
			float: left;
			.header {
				.clearfix;
				margin: 0 0 1px;
				padding: 16px 20px 14px;
				background: #fff;
				h2 {
					margin: 0;
					line-height: 1;
				}
				.edit {
					&:before{
						.fi;
						content: '\f044';
						float: right;
						font-size: 30px;
						line-height: 1;
						margin: 4px -4px 0 5px;
					}
					&:hover{
						color: @cp;
						border-bottom-color: transparent;
					}
				}
			}
			.content {
				position: relative;
				height: 187px;
				overflow: hidden;
				background: #fff;
				ul {
					.rul;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					padding: 13px 20px;
					background: fade(#fff,80%);
					li {
						.rli;
						color: @cl;
						line-height: 1.1;
						padding-left: 10px;
						margin: 3px 0;
						&:before{
							.fp;
							top: 0;
							font-size: 22px;
							content: '\203A';
						}
					}
				}
				.img {
					img {
						display: block;
						width: 100%!important;
					}
				}
			}
		}
	}
}
.popup {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: fade(#484848,80%);
	overflow: auto;
	overflow-y: scroll;
	.overlay {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.on {
		display: block;
	}
	.inner {
		position: absolute;
		z-index: 1;
		background: #fff;
		top: 20%;
		left: 50%;
		width: 626px;
		margin-left: -313px;
		text-align: left;
	}
	.header {
		.clearfix;
		padding: 15px 20px;
		border-bottom: 1px solid #696969;
		h2 {
			color: @cl;
			margin: 0;
			line-height: 1;
		}
		.close {
			float: right;
			font-size: 52px;
			line-height: 1;
			margin: -6px 2px -10px 20px;
			font-weight: 600;
			&:hover{
				color: @cp;
				border-bottom-color: transparent;
			}
		}
	}
	.content {
		padding: 0 20px;
		min-height: 170px;
		h2,h3,h4,h5,h6,p,ul {
			margin: 12px 0;
		}
		ul.info {
			.rul;
			margin: 5px 0;
			li {
				.rli;
				padding: 0 0 0 33px;
				margin: 6px 0;
				line-height: 1.2;
				mark {
					color: @cl;
				}
				.fa {
					position: absolute;
					left: 0;
					top: 2px;
					color: @cl;
					width: 25px;
					text-align: center;
				}
			}
		}
	}
	.footer {
		.clearfix;
		padding: 20px;
		color: #fff;
		background: #484848;
		a {
			color: #fff;
		}
		ul.menu-icons {
			.rul;
			float: left;
			li {
				.rli;
				float: left;
				font-size: 23px;
				line-height: 1.2;
				white-space: nowrap;
				margin: 0 8px 0 0;
				.fa {
					.round-icon;
					color: #fff;
					border-color: #fff;
				}
				a {
					&:hover {
						border-bottom-color: transparent;
						.fa {
							.box-shadow(0 0 12px #fff);
						}
					}
				}
			}
		}
		nav{
			float: right;
			margin: 14px 0;
			font-size: 22px;
			line-height: 1.2;
			a {
				position: relative;
				padding: 0 66px 0 0;
				&:hover{
					border-bottom-color: transparent;
					&:before{
						.box-shadow(0 0 12px #fff);
					}
				}
				&:before{
					.fi;
					.round-icon;
					color: #fff;
					border-color: #fff;
					position: absolute;
					content: '\f045';
					top: -13px;
					right: 0;
				}
			}
		}
	}
}
.popup_active {
	position: fixed;
	width: 100%;
	body {
		position: fixed;
		width: 100%;
	}
}
// ckeditor
body{
	.cke_1 {
		.box-shadow(none);
		margin: 30px 0;
		border: 0;
	}
	.cke_top {
		padding: 0;
		background: #fff;
		border-bottom: 0;
	}
	.cke_contents {
		border: 1px solid @cl;
	}
	.cke_toolgroup {
		.border-radius(0);
		background: #fff;
		border: 1px solid fade(@cl,20%);
	}
	.cke_dialog_body {
		.border-radius(0);
		.box-shadow(none);
		background: #fff;
		border: 1px solid #ccc;
	}
	.cke_dialog_title {
		.border-radius(0);
		.box-shadow(none);
		border-bottom: 1px solid #ccc;
		background: #fff;
	}
	.cke_dialog_footer {
		outline: 1px solid #ccc;
		.border-radius(0);
		.box-shadow(none);
		background: #fff;
	}
}
.login-menu {
	.rul;
	margin: 50px 0;
	padding: 20px 0 0;
	text-align: center;
	border-top: 1px solid @cp;
	li {
		.rli;
		display: inline-block;
		&:before{
			position: static;
			content: '|';
			margin: 0 10px;
			font-size: 20px;
		}
		&:first-child {
			&:before{
				display: none;
			}
		}
	}
}
// forms
.login-form {
	margin: 50px 0;
	.label {
		float: left;
		width: 25%;
		margin: 10px 0;
		text-align: right;
		padding: 0 20px 0 0;
	}
	.form-control {
		float: right;
		width: 75%;
		margin: 10px 0;
	}
	.submit {
		margin: 10px 0;
		text-align: right;
		input[type=submit] {
			margin: 0 0 0 20px;
		}
	}
}
.submit-follow {
	.toggle {
		margin: 20px 0;
		&:before{
			.round-icon;
			.fi;
			content: '\f067';
		}
	}
	.box {
		padding: 20px;
		background: lighten(@cp,50%);
		.close {
			float: right;
		}
		.others {
			.clearfix;
			.col {
				float: left;
				width: 30%;
				padding: 0 20px 0 0;
			}
			.remove {
				position: relative;
				a {
					position: absolute;
					top: 20px;
					right: 0;
					text-decoration: none;
					&:hover{
						border-bottom-color: transparent;
						.fa {
							.box-shadow(0 0 12px @cl);
						}
					}
					.fa {
						.round-icon;
						background: #fff;
					}
				}
			}
		}
		.add {
			a {
				position: relative;
				display: inline-block;
				margin: 20px 0 0 65px;
				&:hover{
					&:before{
						.box-shadow(0 0 12px @cl);
					}
				}
				&:before{
					.round-icon;
					.fi;
					position: absolute;
					left: -65px;
					top: -12px;
					content: '\f067';
					background: #fff;
				}
			}
		}
	}
}