@media (max-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 760px;
	.container {
		width: @content-width;
	}
	#page-header, #page-footer {
		min-width: @content-width;
	}
	.mod_menu-header {
		clear: both;
		max-width: 100%;
		padding: 0;
		text-align: right;
	}
	.mod_custom-years {
		ul {
			li {
				font-size: 24px;
				&.current {
					font-size: 42px;
				}
			}
		}
	}
	.mod_custom-months {
		ul {
			li {
				font-size: 16px;
				&.current {
					font-size: 42px;
				}
			}
		}
	}
	#content {
		.wrapper {
			width: 90%;
		}
		.header {
			h1,h2{
				clear: both;
				margin-left: 35px;
				margin-right: 35px;
				padding-top: 20px;
			}
		}
		.content {
			.clearfix;
			padding-right: 60px;
			padding-left: 60px;
		}
	}
	.mod_custom-detail {
		.wrapper {
			width: 90%;
		}
		.header {
			h2{
				clear: both;
				position: relative;
				top: 20px;
				margin-left: -25px;
				margin-right: -25px;
				padding-top: 10px;
				margin-bottom: 10px;
				text-align: center;
				border-top: 1px solid lighten(@cl,30%);
			}
		}
		.content {
			.clearfix;
			padding-right: 60px;
			padding-left: 60px;
			ul.menu-icons {
				margin-right: -40px;
			}
		}
	}
	.mod_menu-footer {
		display: block;
	}
	.mod_custom-calendar {
		table.calendar {
			tbody {
				td {
					a {
						font-size: 16px;
						.img {
							width: 102px;
						}
					}
				}
			}
		}
		.years {
			.year {
				width: 50%;
				.content {
					height: 227px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-header, #page-footer {
		min-width: @content-width;
	}
	#page-header {
		.logo {
			margin-bottom: 20px;
		}
		h1 {
			margin-bottom: 20px;
		}
	}
	#page-footer {
		padding-bottom: 80px;
	}
	.mod_menu-header {
		float: left;
		ul {
			li {
				margin: 0 20px 0 0;
			}
		}
	}
	.mod_custom-years,.mod_custom-months {
		ul {
			padding-top: 60px;
			display: block;
			width: 100%;
			li {
				padding: 0 10px;
				display: inline-block;
				&.current {
					display: block;
				}
				&.first, &.prev, &.next, &.last {
					width: 54px;
					position: absolute;
					left: 50%;
					top: 0;
					margin-left: -27px;
				}
				&.first {
					margin-left: -138px;
				}
				&.prev {
					margin-left: -64px;
				}
				&.next {
					margin-left: 10px;
				}
				&.last {
					margin-left: 84px;
				}
				&.first, &.prev {
					padding: 0;
				}
				&.next, &.last {
					padding: 0;
				}
			}
		}
	}
	.sidebar {
		margin: 20px 0;
		float: none;
		.menu-icons {
			text-align: center;
			li {
				display: inline-block;
				margin: 5px;
			}
		}
	}
	#content {
		.wrapper {
			margin: 20px 0;
			float: none;
			width: 100%;
		}
		.header {
			h1,h2{
				clear: both;
				margin: 0;
			}
		}
		.content {
			.clearfix;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.mod_custom-detail {
		.wrapper {
			margin: 20px 0;
			float: none;
			width: 100%;
		}
		.header {
			nav {
				margin-bottom: 20px;
			}
			.watch {
				margin-bottom: 20px;
			}
			h2{
				clear: both;
				position: relative;
				top: 20px;
				margin-left: -25px;
				margin-right: -25px;
				padding-top: 10px;
				margin-bottom: 10px;
				text-align: center;
				border-top: 1px solid lighten(@cl,30%);
			}
		}
		.content {
			.clearfix;
			padding-left: 25px;
			padding-right: 25px;
			ul.menu-icons {
				margin: 0;
				li {
					float: none;
					white-space: normal;
					margin: 35px 0;
				}
			}
			ul.thumbnails {
				.rul;
				.clearfix;
				margin: -4px -6px;
				li {
					width: 100%;
					text-align: center;
				}
			}
			.submit {
				text-align: left;
			}
		}
	}
	.mod_custom-calendar {
		table.calendar {
			display: none;
		}
		ul.calendar {
			display: block;
		}
		.years {
			.year {
				width: 100%;
				.content {
					height: auto;
				}
			}
		}
	}
	.mod_menu-footer {
		display: block;
		ul {
			.rul;
			display: block;
			li {
				.rli;
				display: block;
				margin: 40px 0;
				a {
					padding: 0;
					white-space: normal;
					.fa {
						display: block;
						margin: auto;
						position: static;
					}
				}
			}
		}
	}
	.popup {
		.inner {
			top: 0;
			width: 100%;
			left: 0;
			margin-left: 0;
		}
	}
	.login-form {
		.label {
			text-align: left;
			width: 100%;
			margin-bottom: 0;
		}
		.form-control {
			width: 100%;
		}
		.submit {
			margin: 10px 0;
			text-align: right;
			input[type=submit] {
				margin-left: 0;
				margin-top: 10px;
				width: 100%;
			}
		}
	}
	.submit-follow {
		.box {
			.others {
				.col {
					width: 100%;
					padding: 0;
					float: none;
				}
				.remove {
					margin-top: 20px;
					margin-bottom: 20px;
					a {
						position: static;
						top: 20px;
						right: 0;
						text-decoration: none;
					}
				}
			}
			.submit {
				margin: 30px 0;
				input[type=submit]{
					width: 100%;
				}
			}
		}
	}
}