html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: 300;
	color: @cp;
	background: @bb url(../images/bg/01.jpg) repeat-x top;
}
h1,h2,h3,h4,h5,h6{
	margin: 30px 0 10px 0;
	line-height: @lhh;
	font-weight: 300;
}
h1{
	.fh;
	font-size: @fsh1;
	line-height: @lh1;
	margin-top: 0;
}
h2{
	.fh;
	font-size: @fsh2;
}
h3{
	.fh;
	font-size: @fsh3;
}
h4{
	font-size: @fsh4;
}
h5{
	font-size: @fsh5;
}
h6{
	font-size: @fsh6;
}
p{
	margin: 20px 0;
}
ul,ol{
	padding: 0;
	margin: 20px 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 9px;
		left: 0;
		font-size: 50%;
		line-height: 1;
		content: '\f10c';
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #ccc;
}
strong,b{
	font-weight: 600;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	&:hover{
		border-bottom-color: @cl;
	}
}
input:not([type]),input[type=email],input[type=number],input[type=password],input[type=tel],input[type=url],input[type=text],select,textarea{
	.rin;
	width: 100%;
	max-width: 100%;
	border: 1px solid @cl;
	padding: 7px 15px;
	height: 38px;
	background: #fff;
}
button,input[type=submit] {
	.btn;
	background: @cl;
	&:hover{
		background: darken(@cl,5%);
	}
}